@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: rgb(242,152,39) linear-gradient(90deg, rgb(248, 173, 82) 20%, rgb(243, 187, 82) 35%, rgba(232,212,55,1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

h1, h2 {
  text-align: center;
  margin-top: -2px;
}

.one {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}
.two {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

.topnav {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.topnav a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.topnav a:hover {
  background-color: black;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 580px) {
.topnav {
  float: none;
  display: block;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

.one {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}
.two {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

}

@media screen and (max-width: 750px) {
  .topnav span {
    display: none;
  }

}

@media screen and (min-width: 750px) {
  .one {
    margin-top: 10%;
    transition: ease-in-out 0.5s;
  }
  .two {
    margin-top: 10%;
    transition: ease-in-out 0.5s;
  }
}

.already, .login {
  text-align: center;
}
#email, #password {
  width: 100%;
  padding: 10px 2px;
}
#submit-btn {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}
.giostra, #navigation {
  flex: initial;
  display: block;
}
.giostra {
  overflow: hidden;
  width: 100%;
  height: 290px;
  border-radius: 4px;
  background-color: #fff;
}
.p-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
#button_a:checked ~ .giostra .p-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#button_b:checked ~ .giostra .p-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.nav {
  margin: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
[class^="panel_"] {
  overflow: auto;
  position: relative;
  width: inherit;
  height: inherit;
  padding: 10px;
}
[class^="label_"] {
  display: block;
  cursor: pointer;
  margin: auto;
  line-height: 22px;
  text-align: left;
  padding: 10px;
  border-radius: 20px;
  color: #aaa;
  background-color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
}
[class^="label_"]:hover {
  color: #444;
  background-color: #4898d6;
  transition: all 0.3s ease;
}
#button_a:checked ~ .nav .label_a,
#button_b:checked ~ .nav .label_b {
   cursor: default;
   color: #fff;
   background-color: #222;
}

.e_label, .p_label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.option {
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  border-radius: 20px;
  color: #fafafa;
  transition: all 0.3s ease;
  text-align: center;
}
.option:hover {
  background: #fff;
  color: #111;
  cursor: pointer;
  transition: all 0.3s ease;
}
.e_mail {
  background-color: #f4f0e0;
  color: #222;
}
.goog {
  background-color: #DB4437;
}
.fb {
  background-color: #4267B2;
}
.apple {
  background-color: #979797;
}
.option i {
  position: absolute;
  right: 25px;
  font-size: 20px;
}

