@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: rgb(242,152,39) linear-gradient(90deg, rgb(248, 173, 82) 20%, rgb(243, 187, 82) 35%, rgba(232,212,55,1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

.one {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}
.two {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

.topnav {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.topnav a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.topnav a:hover {
  background-color: black;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 580px) {
.topnav {
  float: none;
  display: block;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

.one {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}
.two {
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(54, 43, 29);
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

}

@media screen and (max-width: 750px) {
  .topnav span {
    display: none;
  }

}

@media screen and (min-width: 750px) {
  .one {
    margin-top: 10%;
    transition: ease-in-out 0.5s;
  }
  .two {
    margin-top: 10%;
    transition: ease-in-out 0.5s;
  }
}



